<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data_list</key>
	<array>
		<dict>
			<key>category_name</key>
			<string>多直推（跟直推同时更新）</string>
			<key>code</key>
			<string>preloads</string>
			<key>emoticion_packages</key>
			<array>
				<dict>
					<key>author</key>
					<string>表情mm</string>
					<key>banner</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/banner/1469097895308_750x400.jpg</string>
					<key>chat_icon</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/chaticon/1469004682730_50x50.png</string>
					<key>copyright</key>
					<string>表情mm</string>
					<key>cover</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/cover/1469097865862_240x240.png</string>
					<key>createtime</key>
					<integer>1469004803000</integer>
					<key>emoticions</key>
					<array>
						<dict>
							<key>emo_code</key>
							<string>mrdh</string>
							<key>emo_text</key>
							<string>Hi</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>4807642f75174ded87f8cf2dfa25d4b8</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004703228_01.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004703328_01.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>mrdqq</string>
							<key>emo_text</key>
							<string>爱你</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>e0eb4552ad2d4d3eab41e73e51f73c3c</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004703550_02.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004703564_02.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>mrdbgz</string>
							<key>emo_text</key>
							<string>鼓掌</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>4c6cfc514ce44b66b8d1906752e48189</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004703844_03.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004704105_03.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>mrdsq</string>
							<key>emo_text</key>
							<string>生气</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>a2603b97a9b849fdae7cca43ec89d754</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004704339_04.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004704713_04.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>mrdsh</string>
							<key>emo_text</key>
							<string>送花</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>3c0936d2ea9e42cc98c6f6daa1964aa7</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004705032_05.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004705332_05.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>mrdlb</string>
							<key>emo_text</key>
							<string>泪奔</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>4c6fc4bb60534924b4354fdd1d2f301b</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004705573_06.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004705657_06.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>mrdfhb</string>
							<key>emo_text</key>
							<string>红包</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>23d100e0e8a847a4b68016b0d08b1d52</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004706004_07.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004706182_07.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>mrdjx</string>
							<key>emo_text</key>
							<string>惊吓</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>5d1bbeb9838a45d9bb1bd0385e6bd8f3</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/mainicon/1469004706641_08.gif</string>
							<key>package_id</key>
							<string>0deac6c5657241fba7e17b3956fcb8e0</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/0deac6c5657241fba7e17b3956fcb8e0/thumicon/1469004706669_08.png</string>
						</dict>
					</array>
					<key>guid</key>
					<string>0deac6c5657241fba7e17b3956fcb8e0</string>
					<key>intro</key>
					<string>超多表情助你聊天嗨到爆！卖萌傲娇萌贱都可以，骚年，约么？</string>
					<key>isDefault</key>
					<false/>
					<key>is_emoji</key>
					<false/>
					<key>name</key>
					<string>精选表情</string>
					<key>packageType</key>
					<string>0</string>
					<key>preload</key>
					<string></string>
					<key>promotion</key>
					<false/>
					<key>recommend_pic</key>
					<string></string>
					<key>updatetime</key>
					<integer>1469005225000</integer>
				</dict>
			</array>
			<key>guid</key>
			<string>816e4b6864df45bfb36956175a4d0f72</string>
		</dict>
	</array>
</dict>
</plist>
