<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>data_list</key>
	<array>
		<dict>
			<key>category_name</key>
			<string>多直推（跟直推同时更新）</string>
			<key>code</key>
			<string>preloads</string>
			<key>emoticion_packages</key>
			<array>
				<dict>
					<key>author</key>
					<string>Mojif</string>
					<key>banner</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/banner/1466064045001_750x400.jpg</string>
					<key>chat_icon</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/chaticon/1466064826964_50x50_color.png</string>
					<key>copyright</key>
					<string>Mojif</string>
					<key>cover</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/cover/1466064816559_240x240.png</string>
					<key>createtime</key>
					<integer>1466065150000</integer>
					<key>emoticions</key>
					<array>
						<dict>
							<key>emo_code</key>
							<string>hello</string>
							<key>emo_text</key>
							<string>hello</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>5e159f29b283472aa44430138a5184e3</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064847799_01.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064876054_01.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>bye</string>
							<key>emo_text</key>
							<string>bye</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>dddf8c8627dc41efac3c64dd9ffa6d69</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064908639_02.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064912775_02.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>omg</string>
							<key>emo_text</key>
							<string>omg</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>5a1aa7e602ba443cab04aec055e80b0e</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064924856_03.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064928898_03.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>lol</string>
							<key>emo_text</key>
							<string>lol</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>290cca1f678a43b09317071a187b18cc</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064942646_04.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064960499_04.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>nope</string>
							<key>emo_text</key>
							<string>nope</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>b2924825d1cc4c92acba1ed99e235388</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064973749_05.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064976312_05.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>yes</string>
							<key>emo_text</key>
							<string>yes</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>0fe877b047b245ec82e01e311b792318</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064980403_06.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064982674_06.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>sad</string>
							<key>emo_text</key>
							<string>sad</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>117ceacb34af4f7e9183ae7c42f37db7</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064987249_07.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064990182_07.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>ohhh</string>
							<key>emo_text</key>
							<string>ohhh</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>79e66675830c4eed86d22299a37e4ec3</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466064994963_08.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466064997273_08.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>love</string>
							<key>emo_text</key>
							<string>love</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>e9e8ce70032349d48d3da17ecb341a8f</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065001923_09.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065004095_09.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>olala</string>
							<key>emo_text</key>
							<string>olala</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>91a24f7a1d3e45d0a5a5af32664ecaa8</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065008157_10.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065010226_10.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>teehee</string>
							<key>emo_text</key>
							<string>teehee</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>a7d5a10039de443bbc8d9c4e2fa63527</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065014530_11.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065017674_11.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>whatever</string>
							<key>emo_text</key>
							<string>whatever</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>ddc42ac1b7a945eea4f1c5f78fd62224</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065021828_12.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065023945_12.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>angry</string>
							<key>emo_text</key>
							<string>angry</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>0e32abd61ba340529b877f952ed51d70</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065029243_13.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065031201_13.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>sleepy</string>
							<key>emo_text</key>
							<string>sleepy</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>a43c8d273e0a41a7b447260c2087e4b1</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065035640_14.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065037875_14.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>aahhh</string>
							<key>emo_text</key>
							<string>aahhh</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>80782e5b9dc14e1a890175bef6582f6d</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065041536_15.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065043325_15.png</string>
						</dict>
						<dict>
							<key>emo_code</key>
							<string>what</string>
							<key>emo_text</key>
							<string>what</string>
							<key>emojitype</key>
							<string>0</string>
							<key>guid</key>
							<string>b0ffbaf8e64b4a6a8a3ca20fc938e7a4</string>
							<key>is_emoji</key>
							<false/>
							<key>main_image</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/mainicon/1466065047042_16.gif</string>
							<key>package_id</key>
							<string>d455625bb12a44669e310546981c0457</string>
							<key>thumbail</key>
							<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/thumicon/1466065049601_16.png</string>
						</dict>
					</array>
					<key>guid</key>
					<string>d455625bb12a44669e310546981c0457</string>
					<key>intro</key>
					<string>Lucy is proud, willful and free-minded, like a stray cat.
</string>
					<key>isDefault</key>
					<false/>
					<key>is_emoji</key>
					<false/>
					<key>name</key>
					<string>Lucy</string>
					<key>packageType</key>
					<string>0</string>
					<key>preload</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/preload/1466064828959_50x50_grey.png</string>
					<key>promotion</key>
					<false/>
					<key>recommend_pic</key>
					<string>https://dn-bqmm.qbox.me/@/emoticonPacket/d455625bb12a44669e310546981c0457/recommendPic/1466064824622_262x262.png</string>
					<key>updatetime</key>
					<integer>1466663720000</integer>
				</dict>
			</array>
			<key>guid</key>
			<string>816e4b6864df45bfb36956175a4d0f72</string>
		</dict>
	</array>
</dict>
</plist>
